<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="PublicDB" 
			 connectionString="Server=tcp:nmv.database.windows.net,1433;Initial Catalog=PublicDB;Persist Security Info=False;User ID=tivivui95;Password=Aptx4869;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" 
	         providerName="nmv.database.windows.net"></add>
    </connectionStrings>
</configuration>